body {
	font-family: 'Open Sans', sans-serif;
}

/*css reset*/
* {
	margin: 0;
	padding: 0;
	/*box includes border and padding*/
	box-sizing: border-box;
}
nav {
	padding:  0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none ;
}

nav .nav-logo, nav .nav {
	margin: 0.5rem;
	display: inline;

}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

/*descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius:  25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

/*#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin: 0 0.5rem 0;
}
*/

#succeed-info .card {
	
	vertical-align: top;
	width: 80%;
	margin: 1rem;
}


footer{
	padding: 0.7rem;
}
footer span {
	margin: 0 0.5rem 0;
}

/*activity*/

#pre-footer {
	width: 100%;
	margin: 0;
	background-color: #002540;
	color: white;
}

#pre-footer div {
	padding: 1rem;
	display: inline-block;
	/*vertical-align: top;*/
	min-height: 100px;
	width: 20%;
	align-self: left;
	margin: 0 0.5rem 0;
}